@font-face{
	font-family: Oswaldbold;
	font-display: swap;
	src: url("../fonts/Oswaldbold.woff2") format("woff2"), url("../fonts/Oswaldbold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: Oswalddemibold;
	font-display: swap;
	src: url("../fonts/Oswalddemibold.woff2") format("woff2"), url("../fonts/Oswalddemibold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: Oswaldextralightitalic;
	font-display: swap;
	src: url("../fonts/Oswaldextralightitalic.woff2") format("woff2"), url("../fonts/Oswaldextralightitalic.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldbolditalic.woff2") format("woff2"), url("../fonts/Oswaldbolditalic.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldheavy.woff2") format("woff2"), url("../fonts/Oswaldheavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: Oswal;
	font-display: swap;
	src: url("../fonts/Oswaldextralight.woff2") format("woff2"), url("../fonts/Oswaldextralight.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldheavyitalic.woff2") format("woff2"), url("../fonts/Oswaldheavyitalic.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldlight.woff2") format("woff2"), url("../fonts/Oswaldlight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldlightitalic.woff2") format("woff2"), url("../fonts/Oswaldlightitalic.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldmedium.woff2") format("woff2"), url("../fonts/Oswaldmedium.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldmediumitalic.woff2") format("woff2"), url("../fonts/Oswaldmediumitalic.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldregularitalic.woff2") format("woff2"), url("../fonts/Oswaldregularitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswaldregular.woff2") format("woff2"), url("../fonts/Oswaldregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
